Repository opendatahub-io/ODH-Build-Config: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-fbc-fragment-ci-on-push, odh-operator-bundle-ci-on-pull-request, odh-operator-bundle-ci-on-push

Path conditions:
  odh-fbc-fragment-ci-on-push: ((any of: catalog/**) or (any of: .tekton/odh-fbc-fragment-ci-push.yaml)) and (unless all of: ^catalog/catalog-patch\.yaml$, ^\.github/workflows/)
  odh-operator-bundle-ci-on-pull-request: any of: non-existent-file.non-existent-ext
  odh-operator-bundle-ci-on-push: ((any of: bundle/**) or (any of: .tekton/odh-operator-bundle-ci-push.yaml)) and (unless all of: ^bundle/bundle-patch\.yaml$, ^\.github/workflows/)

Updating the catalog.yaml with latest images and patches
  catalog/catalog_build_args.map
  catalog/v4.20/rhods-operator/catalog.yaml
Due: odh-fbc-fragment-ci-on-push

Updating the kube-rbac-proxy image from odh-kube-auth-proxy to odh-kube-rbac-proxy
  bundle/bundle-patch.yaml
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

RHOAIENG-59760: Rename RELATED_IMAGE_OSE_KUBE_RBAC_PROXY_IMAGE to RELATED_IMAGE_ODH_KUBE_RBAC_PROXY_IMAGE
  bundle/additional-images-patch.yaml
  bundle/bundle-patch.yaml
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
  catalog/v4.20/rhods-operator/catalog.yaml
Due: odh-fbc-fragment-ci-on-push, odh-operator-bundle-ci-on-push

Remove old RHAIIS image references
  bundle/additional-images-patch.yaml
Due: odh-operator-bundle-ci-on-push

Update outdated RHAII image references
  bundle/additional-images-patch.yaml
Due: odh-operator-bundle-ci-on-push

Unify vllm-spyre image
  bundle/additional-images-patch.yaml
Due: odh-operator-bundle-ci-on-push

Add missing RHAII vllm-cpu image ref
  bundle/additional-images-patch.yaml
Due: odh-operator-bundle-ci-on-push

Updating the bundle-csv with latest images
  bundle/bundle_build_args.map
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Add component fields for eval-hub and nemo-guardrails-server in bundle-patch
  bundle/bundle-patch.yaml
Due: none

Fix component name for ODH TrustyAI Nemo Guardrails
  bundle/bundle-patch.yaml
Due: none
