Repository opendatahub-io/ODH-Build-Config: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-fbc-fragment-ci-on-push, odh-operator-bundle-ci-on-pull-request, odh-operator-bundle-ci-on-push

Path conditions:
  odh-fbc-fragment-ci-on-push: ((any of: catalog/**) or (any of: .tekton/odh-fbc-fragment-ci-push.yaml)) and (unless all of: ^catalog/catalog-patch\.yaml$, ^\.github/workflows/)
  odh-operator-bundle-ci-on-pull-request: any of: non-existent-file.non-existent-ext
  odh-operator-bundle-ci-on-push: ((any of: bundle/**) or (any of: .tekton/odh-operator-bundle-ci-push.yaml)) and (unless all of: ^bundle/bundle-patch\.yaml$, ^\.github/workflows/)

Updating the bundle-csv with latest images
  bundle/bundle_build_args.map
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Updating the catalog.yaml with latest images and patches
  catalog/catalog_build_args.map
  catalog/v4.20/rhods-operator/catalog.yaml
Due: odh-fbc-fragment-ci-on-push

Updating the bundle-csv with latest images
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Add odh-llm-d-batch-gateway-apiserver to bundle-patch.yaml
  bundle/bundle-patch.yaml
Due: none

Updating the bundle-csv with latest images
  bundle/manifests/dscinitialization.opendatahub.io_dscinitializations.yaml
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
  bundle/manifests/services.platform.opendatahub.io_monitorings.yaml
Due: odh-operator-bundle-ci-on-push

Add odh-llm-d-batch-gateway-processor to bundle-patch.yaml
  bundle/bundle-patch.yaml
Due: none

Add kube-rbac-proxy to bundle-patch.yaml
  bundle/bundle-patch.yaml
Due: none

Updating the catalog.yaml with latest images and patches
  catalog/v4.20/rhods-operator/catalog.yaml
Due: odh-fbc-fragment-ci-on-push

onboard kserve localmodel controller and agent to ODH
  bundle/bundle-patch.yaml
Due: none

Add component field for batch gateway processor
  bundle/bundle-patch.yaml
Due: none

onboard kube-rbac-proxy to odh
  bundle/bundle-patch.yaml
Due: none

onboard kube-rbac-proxy to odh (#1244)
  bundle/bundle-patch.yaml
Due: none

Update bundle-patch.yaml with new image digests
  bundle/bundle-patch.yaml
Due: none

remove odh-training-cuda130-torch29-py312-openmpi41
  bundle/bundle-patch.yaml
Due: none
