Repository opendatahub-io/ODH-Build-Config: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-fbc-fragment-ci-on-push, odh-operator-bundle-ci-on-pull-request, odh-operator-bundle-ci-on-push

odh-fbc-fragment-ci-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/opendatahub-operator-catalog:odh-stable
  - name: additional-labels
    value:
    - version=odh-stable
  - name: build-platforms
    value:
    - linux/x86_64
  ...

odh-operator-bundle-ci-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/opendatahub-operator-bundle:pr-{{pull_request_number}}
  - name: additional-labels
    value:
    - version=odh-stable
  - name: image-expires-after
    value: 5d
  ...

odh-operator-bundle-ci-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/opendatahub-operator-bundle:odh-stable
  - name: additional-labels
    value:
    - version=odh-stable
  - name: build-args-file
    value: bundle/bundle_build_args.map
  ...

Updating the bundle-csv with latest images
  bundle/bundle_build_args.map
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Updating the catalog.yaml with latest images and patches
  catalog/catalog_build_args.map
  catalog/v4.20/rhods-operator/catalog.yaml
Due: odh-fbc-fragment-ci-on-push

Updating the bundle-csv with latest images
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Sync changes from source repo
  to-be-processed/bundle/manifests/config.opendatahub.io_platforms.yaml
  to-be-processed/bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: none

Updating the bundle-csv with latest images
  bundle/manifests/config.opendatahub.io_platforms.yaml
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Path conditions:
  odh-fbc-fragment-ci-on-push: ((any of: catalog/**) or (any of: .tekton/odh-fbc-fragment-ci-push.yaml)) and (unless all of: ^catalog/catalog-patch\.yaml$, ^\.github/workflows/)
  odh-operator-bundle-ci-on-pull-request: any of: non-existent-file.non-existent-ext
  odh-operator-bundle-ci-on-push: ((any of: bundle/**) or (any of: .tekton/odh-operator-bundle-ci-push.yaml)) and (unless all of: ^bundle/bundle-patch\.yaml$, ^\.github/workflows/)
