Repository opendatahub-io/ODH-Build-Config: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-fbc-fragment-ci-on-push, odh-operator-bundle-ci-on-pull-request, odh-operator-bundle-ci-on-push

Path conditions:
  odh-fbc-fragment-ci-on-push: ((any of: catalog/**) or (any of: .tekton/odh-fbc-fragment-ci-push.yaml)) and (unless all of: ^catalog/catalog-patch\.yaml$, ^\.github/workflows/)
  odh-operator-bundle-ci-on-pull-request: any of: non-existent-file.non-existent-ext
  odh-operator-bundle-ci-on-push: ((any of: bundle/**) or (any of: .tekton/odh-operator-bundle-ci-push.yaml)) and (unless all of: ^bundle/bundle-patch\.yaml$, ^\.github/workflows/)

Updating the bundle-csv with latest images
  bundle/bundle_build_args.map
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Updating the catalog.yaml with latest images and patches
  catalog/catalog_build_args.map
  catalog/v4.20/rhods-operator/catalog.yaml
Due: odh-fbc-fragment-ci-on-push

Update RELATED_IMAGE_POSTGRESQL_16_IMAGE to pgvector-capable digest (RHOAIENG-94959)
  bundle/additional-images-patch.yaml
Due: odh-operator-bundle-ci-on-push

Updating the bundle-csv with latest images
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push

Sync changes from source repo
  to-be-processed/bundle/manifests/components.platform.opendatahub.io_rays.yaml
  to-be-processed/bundle/manifests/config.opendatahub.io_platforms.yaml
  to-be-processed/bundle/manifests/infrastructure.opendatahub.io_hardwareprofiles.yaml
  to-be-processed/bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: none

Updating the bundle-csv with latest images
  bundle/bundle_build_args.map
  bundle/manifests/config.opendatahub.io_platforms.yaml
  bundle/manifests/infrastructure.opendatahub.io_hardwareprofiles.yaml
  bundle/manifests/rhods-operator.clusterserviceversion.yaml
Due: odh-operator-bundle-ci-on-push
